body {  
    font-family: 'Josefin Sans', sans-serif;
    background-color: white;
    font-size: 17;
    margin: 0;
}

@font-face {
  font-family: Nickainley; 
  src: url('../Nickainley-Normal.otf'); 
} 

header {
    font-size: 64px;
    font-family: 'Nickainley';
    color: #87CEE0;
    height: 354px;
    background-image: url('../images/mosaic.png');
    width: 100%;
}

#headertitle{
    position: relative;
    top: 230px;
    right: -750px;
    width: 288px;
}

#profilepicture {
    width: 400px;
    height: 420px;
    float: left;
}

#about-me {
    width: 860px;
    height: 400px;
    margin: 0 auto;
    padding-top: 25px;
}

.highlight-text {
    color: #547CAC;
    font-weight: 600;
}

/* resize images */
#profilepicture img, #linkedin img, #email img {
    width: 100%;
    height: auto;
    float: left;
}

#intro {
    height: 230px;
    width: 360px;
    float: left;
    padding-top: 88px;
    padding-left: 100px;
}

#intro-header {
    height: 37px;
    width: 100%;
    font-size: 30px;
    color: #393839;
    text-align: center;
}

#intro-line{
    height: 10px;
    width: 265px;
    margin: 0 auto;
    padding-top: 13px;
}

.line {
    color: #C2BEBE;
    width: 10px;
    border-top:1px solid #C2BEBE;
    transform: rotate(-55deg);
    transform-origin: 0% 0%;
    display: inline-block;
}

#intro-content {
    font-size: 18px;
    width: 100%;
    height: 135px;
    color: #393839;
    text-align: justify;
    line-height: 27px;
    padding-top: 30px;
}

#boxes {
    margin: 0 auto;
    width: 850px;
    height: 385px;
    overflow: hidden;
    padding-bottom: 50px;
}

.box {
    width: 50%;
    height: 100%;
    float: left;
}

#skills {
    background-color: #C3E3FC;
}

#say-hello {
    background-color: #ABD0ED;
}

#random-fact {
    background-color: #D8EBF3;
    position: relative;
    bottom: -25px;
}

#skills, #say-hello, #random-fact {
    border-radius: 12px;
    width: 400px;
}

#say-hello, #random-fact {
    height: 180px;
    right: -25px;
    position: relative;
}

#skills {
    height: 320px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.box-title {
    color: #393839;
    font-size: 26px;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 10px;
}

.language-level {
    overflow: hidden;
    padding-top: 20px;
    height: 25px;
}

.language-name {
    color: #393839;
    font-size: 16px;
    float: left;
    width: 125px;
    text-align: center;
}

.level-bar {
    float: left;
    overflow: hidden;
}

.baseline {
    width: 1px;
    height: 16px;
    background-color: #979797;
    float: left;
}

#objectivec-bar, #java-bar, #python-bar, #swift-bar, #html-bar {
    background-color: #72C4E5;
    height: 10px;
    float: left;
    top:3px;
    position: relative;
    left: -1px
}

#links{
    width: 130px;
    height: 45px;
    margin: 0 auto;
    padding-top: 15px;
}

#linkedin, #email {
    height: 45px;
    width: 45px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

#fact {
    padding-top: 12px;
    width: 300px;
    height: 50px;
    margin: 0 auto;
    line-height: 20px;
    text-align: center;
    color: #393839;
    font-size: 16px;
}

#generate-button {
    position: relative;
    top: 8px;
    width: 60px;
    height: 18px;
    color: #393839;
    font-size: 10px;
    font-weight: 600;
    background-color: #D8D8D8;
    border-radius: 7px;
    border: 2px solid #ABD0ED;
    margin: 0 auto;
    text-align: center;
    line-height: 20px;
    cursor: hand;
}

#generate-button, #headertitle {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
